[user]
	name = NAME
	email = EMAIL@MAIL.COM

[core]
  editor = vim
[color]
  ui = true
[alias]
  co = checkout
  cs = commit -s -m
  amend = commit -s --amend -m
  s = status
  up = "!git fetch upstream && git checkout master && git merge upstream/master && git push origin master"
  hist = log --pretty=format:"%C(red)%h\\ %C(yellow)%ad\\ %Creset%s%Cblue\\ <%an>\\ %Cred%d" --decorate --date=short
  shorthist = log --pretty=format:"%s" --decorate --date=short
  discard = checkout .
  unstage = reset HEAD
